@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Are you sure you want to delete this recipe?</h2>
<hr>
<h5>Recipe Name: @Html.DisplayFor(model => model.RecipeName)</h5>
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn buttongroup-lower"/>
}
<hr>
<div class="btn-group" role="group">
  <button class="btn buttongroup-lower">@Html.ActionLink("Back to List", "Index")</button>
  <button class="btn buttongroup-lower">@Html.ActionLink("Home", "Index", "Home")</button>
</div>