@{
  Layout = "_Layout";
}

<hr>
<h2>No search results</h2>
<hr/>

@* <p>@Html.ActionLink("Add new Engineer", "Create")</p>
<p>@Html.ActionLink("Add new Machine", "Create", "Machines")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Search", "Search")</p> *@
