@{
  Layout = "_Layout";
}

<hr>
<h2>No results returned for your search</h2>
<hr/>

<div class="btn-group" role="group">
  <button class="btn buttongroup-lower">@Html.ActionLink("Back to Recipes List", "Index")</button>
  <button class="btn buttongroup-lower">@Html.ActionLink("New Search", "Search")</button>
  <button class="btn buttongroup-lower">@Html.ActionLink("Home", "Index", "Home")</button>
</div>