@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe
<hr>
<h4>Search Recipes</h4>
<hr>
@using (Html.BeginForm("Results", "Recipes", FormMethod.Post))
{
  @Html.LabelFor(model => model.RecipeName, "Recipe Name", new { @class = "form-label"} )
  @Html.TextBoxFor(model => model.RecipeName, new { @class = "form-control"})
  <br>
  <input type="submit" value="Search Recipes" class="btn buttongroup-lower"/>
}
<hr>
<div class="btn-group" role="group">
  <button class="btn buttongroup-lower">@Html.ActionLink("Back to List", "Index")</button>
  <button class="btn buttongroup-lower">@Html.ActionLink("Home", "Index", "Home")</button>
</div>