/* FOOTER STYLING */
div#footer { 
	position: fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color: white;
	background: #ef4229;
	padding:8px;
}

#footerLink {
	color: black;
}


/* NAVBAR STYLING */
.navbar {
	background-color: #ef4229;
	padding: 5px;
}

.nav-btn {
	background-color: #ef4229;
	color: #333333;
	outline: 2px solid #ef4229;
}

.nav-btn:hover {
	background-color: white;
	color: #ef4229;
	outline-color: 2px solid #333333;
}

.navbar-nav .nav-link {
	color: #333333; 
}

.nav-link:hover {
	color: #333333; 
	text-decoration: underline;
}

.offcanvas-title {
	text-decoration: underline;
}

.navbar-brand {
	font-size: larger;
}

.expanded-dropdown {
	margin-bottom: 15px;
}

/* CARD STYLING  */
.recipe-card {
	margin-bottom: 15px;
}

/* HOMEPAGE TEXT STYLING */
.headerlink { 
	color: black;
}

.headerlink:hover { 
	color: #ef4229;
}

.listitems a {
	color: black;
}

.listitems:hover a{
	color: #ef4229;
}

.listitems:hover{
	color: #ef4229;
}

/* RECIPES INDEX PAGE TEXT STYLING */
.recipe-title { 
	color: black;
}

.recipe-title:hover { 
	color: #ef4229;
}

.recipe-title a {
	color: black;
}

.recipe-title:hover a{
	color: #ef4229;
}

.recipe-title:hover{
	color: #ef4229;
}

/* INGREDIENTS INDEX PAGE TEXT STYLING */
.ingredient-title { 
	color: black;
}

.ingredient-title:hover { 
	color: #ef4229;
}

.ingredient-title a {
	color: black;
}

.ingredient-title:hover a{
	color: #ef4229;
}

.ingredient-title:hover{
	color: #ef4229;
}

.ingredient-card {
	margin-bottom: 15px;
}

/* RECIPE,INGREDIENT, TAG INDEX() BOTTOM OF PAGE BUTTON STYLING */
.buttongroup-lower {
	color: #333333;
	background-color: #ef4229;
	outline: 2px solid #ef4229;
}

.buttongroup-lower:hover {
	color: #ef4229;
	background-color: white;
	outline: 2px solid #ef4229;
}

.buttongroup-lower a{
	color: #333333;
	background-color: #ef4229;
}

.buttongroup-lower:hover a {
	color: #ef4229;
	background-color: white;
}

/* RECIPE SORT BUTTON STYLING */

.buttongroup-upper {
	color: #333333;
	background-color: #ef4229;
	outline: 2px solid #ef4229;
	margin-bottom: 15px;
}

.buttongroup-upper:hover {
	color: #ef4229;
	background-color: white;
	outline: 2px solid #ef4229;
}

.buttongroup-upper a{
	color: #333333;
	background-color: #ef4229;
}

.buttongroup-upper:hover a {
	color: #ef4229;
	background-color: white;
}