div#footer {
	position: fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color: black;
	background: white;
	padding:8px;
}

.navbar {
	background-color: white;
}

body {
	background-color: white;
}

#footerLink {
	color: black;
}

/* fix me!! */
.test-case{ 
	outline: red dashed 1px;
	margin-bottom: 10px;
}

.recipe-card{
	margin-bottom: 15px;
}