@{
  Layout = "_Layout";
}

@using RecipeBox.Models;

<h1>Ingredients</h1>


@if (@Model.Count == 0)
{
  <h3>No ingredients have been added yet!</h3>
} 
else
{
  <div class="row row-cols-2">
    @foreach (Ingredient ingredient in Model)
    {
      <div class="col">
        <div class="card ingredient-card">
          <div class="card-body">
            <h5 class="card-title ingredient-title">@Html.ActionLink($"{ingredient.IngredientName}", "Details", new { id = ingredient.IngredientId })</h5>
          </div>
        </div>
      </div>
    }
  </div>
}

<hr>
<p>@Html.ActionLink("Add new ingredient", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>