@{
  Layout = "_Layout";
}

<h2>Welcome to your RecipeBox Account!</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn buttongroup-lower" value="Log Out" />
  }
}
else
{
  <p>@Html.ActionLink("Register", "Register")</p>
  <p>@Html.ActionLink("Log in", "Login")</p>
}
<hr>
<p>@Html.ActionLink("Home", "Index", "Home")</p>